.wrap {
  height: 100vh;
  font-family: 'Press Start 2P', system-ui;
}

.header-area {
  position: sticky;
  top: 0;
  height: 70px;
  background-color: #96cf87;
  text-align: center;
  color: white;
}
.footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #96cf87;
  width: 100%;
  color: white;
}
